* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(
        to bottom right, 
        hsl(150, 40%, 90%),
        hsl(200, 40%, 90%)
    );
}

.wrapper {
    margin: 1rem;
}

header,
main, 
footer {
    margin: 0 auto;
    width: 90%;
    max-width: 800px;
}

h1 {
    font-family: 'Gentium Book Plus', serif;
    text-align: center;
    font-size: 2rem;
}

h2, h3 {
    font-family: 'Inter', sans-serif;
}

h2 {
    margin: 0.75em 0 0.35em 0;
    font-size: 1.25rem;
    border-bottom: 1px solid black;
    text-transform: uppercase;
}

h3 {
    font-size: 1.25rem;
}

p {
    font-family: 'Inter', sans-serif;
    font-size: 1.15rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}

footer > p {
    word-spacing: 100vw;
}

a, a:visited {
    color: hsl(200, 90%, 30%);
}

@media (hover: hover) {
    a:hover {
        color: hsl(150, 100%, 30%);
    }
}

@media only screen and (min-width: 950px) {
    body {
        height: 100vh;
        width: 100vw;
        background-image: linear-gradient(
            to bottom right, 
            hsl(150, 80%, 50%),
            hsl(200, 80%, 50%)
        );
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .wrapper {
        border-radius: 12px;
        background-color: hsla(0, 0%, 100%, 0.85);
        padding: 1.5em;
        box-shadow: 5px 5px 15px #777;
    }
}